*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    /* font size
    other fontsize notation system includes 
    md(medium) l(large) xl(extra large) 2xl 3xl e.t.c */

    --txt-sm: 1rem;
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
    --max-width: 120rem;

    /* FONT WEIGHT */

    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-bold:700;

    /* LINE HEIGHT */

    --line-height-tight: 1.2;
    --line-height-normal:1.5;

    /* LETTER SPACING */

    --letter-spacing-tight:-2px;

    /* FONT-FAMILY */

    --font-family:'poppins', sans-serif;

    /* COLORS */

    --primary-tint:  #212529;
    --primary-shade: #047aed;
    --grey-Shade:#b4becb;
    --White:#fff;
    --Black:#333;

    /* MISCELLANEOUS */
    
}

html{
    font-size: 62.5%;
}

body{
    font-family:'poppins', sans-serif;
    font-weight: 400 ;
    line-height:1.5 ;
    overflow-x: hidden;
    color: #333;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 110rem;
    padding: 0 4rem;
    
}

h1,h2,h3{
    letter-spacing: 0px;
    line-height:1.5 ;
}

h1{
    font-size: 2.5rem;
    font-weight: 200;
}

h2{
    font-size: 2rem;
    font-weight: 200;
    color: var(--Black);
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}

ul{
     list-style: none;
}

a{
    /* font-weight: 500;
    font-size:  15px; */
    color: var(--White);
    text-decoration: none;
}

img{
    width: 100%;
}

.img{
    width: 50%;
    justify-self: end;
}

.img-2{
    width: 70%;
    justify-self: end;
}

.navbar{
    background-color: var(--primary-shade);
}

nav a:hover{
    border-bottom: 2px solid #fff;
}

.showcase{
    background-color: var(--primary-shade);
    height: 30rem;
    margin-bottom: 100px;
    position: relative;
}

.showcase-features{
    background-color: var(--primary-shade);
    height: 20rem;
    position: relative;
}

.showcase-features-flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.xl{
    color: var(--White);
    font-size: 3rem;
}

.lead{
    color: var(--White);
    font-size: 1.5rem;
}

.subsection{
    height: 25rem;
    background-color: rgba(97, 97, 97, 0.1);
    margin-bottom: 5rem;
}

.sub-head{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 10rem;
    bottom: -7rem;
    right: 0;
    left: 0;
    background-color: var(--White);
    transform: skewY(-3deg);
}

.showcase .grid{
    position: relative;
    z-index: 1;
}

.showcase-text{
    color: var(--White);
    position: relative;
}

.showcase-text p{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.card{
    color: #333;
    background-color: var(--White);
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.showcase-form{
    height: 30rem;
    width: 30rem;
    padding: 4rem;
    position: relative;
    top: 5rem;
    z-index: 99;
    justify-self: flex-end;
}

.form-control{
    margin: 3rem 0 ;
    border: 0;
}

.input-class{
    border: 0;
    border-bottom: 1px solid #b4becb ;
    width: 100%;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.btn{
    background-color: var(--primary-shade);
    color: var(--White);
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn-outline{
    background-color: transparent;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #fff;
    display: inline-block;
}

.btn-dark{
    padding: 1rem 2rem;
    background-color: var(--primary-tint);
    border-radius: 5px;
}

.flex{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.flex-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 2,5rem;
}

.flex-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.flex-min{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin: 0 5px;
    font-size: 1.5rem;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.sec-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.sec-grid img{
    width: 80%;
}

.grid-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.stats{
    margin: 0 auto;
    width: 70%;
    max-width: 1100px;
}

.stats-heading{
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.grid-item-1{
    grid-row: 1 / span 2;
}

.grid-item-2{
     box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 2rem;
    border-radius: 1rem;
}

.grid-item-3{
    grid-row: 2/3;
    grid-column: 2/3;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 2rem;
    border-radius: 1rem;
}

.grid-item-2 h3{
    font-size: 1.3rem;
}

.grid-item-3 h3{
    font-size: 1.3rem;
}

.section-bar{
    background-color: var(--primary-shade);
    display: flex;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

.sub-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--White);
}

.text-center h2{
    color: var(--White);
    font-size: 3rem;
    text-align: center;
}

.text-center p{
    text-align: center;
    font-size: 1.2rem;
}

.text-secondary{
    font-size: 1.5rem;
}

.textalign{
    color: var(--primary-shade);
    text-align: center;
    margin-top:1rem;
}

.section-flex{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    background-color: var(--primary-tint);
    color: var(--White);
    height: 15rem;
    display: flex;
}

.footer-grid{
    display: flex; 
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    align-items: center;
}

.footer-grid a{
    font-size: 1.2rem;
}

.social{
    display: flex;
    gap: 1.5rem;
}

.language-card{
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--White);
    color: var(--Black);
    margin: 1rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    
}

.language-card:hover{
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
}


.language-card h4{
    text-align: center;
    margin-bottom: 1rem;
}

.features-main{
    display: grid;
}
.features-grid-3{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.features-grid-item-1{
    display: flex;
    gap: 1.5rem;
    grid-column: 1/ span 3;
    align-items: center;
}

.features-grid-item-2{
    display: flex;
    gap: 1.5rem;
    grid-column: 1/ span 2;
    align-items: center;
}

.features-grid-item{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.docs-main{
    display: grid;
    margin-top: 3rem;
}

.docs-grid{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.docs-main-card-1{
    align-self: stretch;
    height: 35rem;
    background-color: rgba(180, 190, 203, 0.2);
    
}

.docs-main-card-1 a{
    color: var(--Black);
    font-size: 1.2rem;
    border-bottom: 1px solid #333;
}

.my-2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.text-primary{
    margin-bottom: 1rem;
}

.docs-main-card-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

.alert{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: green;
    color: var(--White);
    height: 3rem;
    padding-left: 20px;
    font-size: 1.5rem;
}

.docs-main-card-2 h3{
    font-size: 1.5rem;
    font-weight: 400;
}
pre{
    display: flex;
    align-items: center;
    height: 3rem;
    padding-left: 2rem;
    background-color: var(--Black);
    color: var(--White);
    font-size: 1.2rem;
}

.btn-primary{
    display: inline-block;
    background-color: var(--primary-shade);
    color: var(--White);
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
}

.img-size{
    width: 50px;
}