/*  MD - TABLETS: 768px - 1024px*/
@media(max-width: 48rem) {
    /* 770px / 16px = 48rem */
    /* 48rem x 16px = 768px */
    html{
        font-size: 56.25%;
         /* 9px / 16px = 56.25% */
    }

    /* Media-Queries FOr Landing Page */

    .grid,.sec-grid{
        grid-template-columns: 1fr;
    }
    .sec-grid img{
        justify-self: center;
    }
    .text-center{
        margin-top: 20px;
    }
    .showcase{
        height: auto;
        text-align: center;
        padding-top: 40px;
    }
    .showcase-form{
        justify-self: center;
        top: 3rem;
    }
    .navbar{
        height: 90px;
    }
    .logo{
        text-align: center;
        margin-top: 10px;
    }
    .flex{
        flex-direction: column;
    }
    .flex-min{
        justify-content: space-evenly;
        background-color: rgba(0,0,0, 0.1);
    }
    .flex-3{
        display: block;
    }
    .sub-section{
        gap: 10px;
        margin-bottom: 20px;
    }
    .grid-2{
        display:block ;
         margin-bottom: 20px;

    }
    .grid-item-2{
        margin-bottom: 20px;
    }
    .section-bar{
        height: auto;
    }
    .stats{
        height: auto;
    }
    br{
        display: none;
    }

    /* Media-Queries For Features Section */

    .showcase-features{
        height: auto;
    }
    .showcase-features-flex{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .img{
        justify-self: center;
        width: 100px;
        margin-bottom: 20px;
    }
    .showcase-features, .grid{
        margin-bottom: 0;
    }
    .subsection{
        height: auto;
    }
    .sub-head{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .img-2{
        justify-self: center;
        width: 200px;
    }
    .features-grid-3{
        grid-template-columns: 1fr;
        gap: 0;

    }
    .features-grid-3 > *:first-child,
    .features-grid-3 > *:nth-child(2) {
        grid-column: 1;
    }

    /* Media-Queries For Documentation Section */

    .docs-grid{
        grid-template-columns: 1fr;
    }

    .docs-main-card-1{
        height: auto;
    }

    .alert{
        padding: 15px;
        height: auto;
    }

}

/*  SM - PHONE LANDSCAPE: 576px - 768px*/

/* XS - PHONE IN PORTRAiT: < 576px */
